.contain-edit {
  width: 100%;
  min-width: 1200px;
}
.contain-edit .con-left {
  width: 12%;
  height: 100%;
  float: left;
  border: 1px solid #797979;
  background-color: #66CC99;
}
.contain-edit .con-left .con-left-name {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  color: #668575;
}
.contain-edit .con-left .con-left-list {
  width: 100%;
  margin: 40px auto;
}
.contain-edit .con-left .con-left-list .con-left-item {
  width: 100%;
  margin: 40px auto;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin {
  text-indent: 12px;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin i {
  color: #767676;
  font-size: 26px;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin span {
  font-size: 20px;
  padding-left: 8px;
  color: #333;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin .con-admin-name {
  margin-left: 35px;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin-list {
  width: 100px;
  margin: 10px auto;
  font-size: 16px;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin-list li {
  margin: 8px 0;
  color: #333;
  cursor: pointer;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin-list li a {
  color: #000;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin-list li i {
  color: #747474;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin-list .order-edit {
  color: #783886;
}
.contain-edit .con-left .con-left-list .con-left-item .con-admin-list li:nth-child(2) {
  text-indent: 15px;
}
.contain-edit .con-right {
  width: 87.5%;
  height: 100%;
  float: right;
}
.contain-edit .con-right .order-edit-seek {
  margin: 50px 30px;
  font-size: 14px;
}
.contain-edit .con-right .order-edit-seek input {
  height: 20px;
  margin-right: 20px;
}
.contain-edit .con-right .order-edit-seek i {
  font-size: 16px;
  color: #747474;
}
.contain-edit .con-right .order-edit-seek button {
  width: 40px;
  cursor: pointer;
}
.contain-edit .con-right .order-edit-noedit {
  margin: 50px 20px;
}
.contain-edit .con-right .order-edit-noedit p {
  height: 20px;
  position: relative;
  cursor: pointer;
}
.contain-edit .con-right .order-edit-noedit p span {
  color: #3B3B3B;
  position: absolute;
  top: 1px;
  left: 20px;
}
.contain-edit .con-right .order-edit-noedit table {
  width: 80%;
  text-align: center;
}
.contain-edit .con-right .order-edit-noedit table tr {
  height: 30px;
  font-size: 14px;
}
.contain-edit .con-right .order-edit-noedit table tr td input {
  width: 100px;
}
.contain-edit .con-right .order-edit-edit {
  margin: 50px 20px;
}
.contain-edit .con-right .order-edit-edit p {
  height: 20px;
  position: relative;
  cursor: pointer;
}
.contain-edit .con-right .order-edit-edit p span {
  color: #3B3B3B;
  position: absolute;
  top: 1px;
  left: 20px;
}
.contain-edit .con-right .order-edit-edit table {
  width: 80%;
  text-align: center;
}
.contain-edit .con-right .order-edit-edit table tr {
  height: 30px;
  font-size: 14px;
}
.contain-edit .con-right .save-pop {
  width: 250px;
  height: 140px;
  display: none;
  border: 1px solid #999;
  position: relative;
  left: 35%;
}
.contain-edit .con-right .save-pop p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px auto;
  font-size: 14px;
  color: #7B7B7B;
}
.contain-edit .con-right .save-pop .pop-btn {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.contain-edit .con-right .save-pop .pop-btn button {
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #F3F3F3;
  border: 1px solid #696969;
  color: #7B7B7B;
  font-size: 14px;
}
.contain-edit .con-right .save-pop .pop-btn .pop-cancel-btn {
  margin-right: 20px;
}
